mi-nav {
  display: block;
  background-color:
    var(--colorMiNav);
}

mi-nav ul {
  display:flex;
	justify-content: center;
	width: 96%;
	height: 50px;
	padding: 0% 2%;
	background-color: #c2f0ef;
	border-top: 1px solid #094660;
	border-bottom: 1px solid #094660;
	text-align: center;
}

mi-nav ul li {
  margin: 0.5rem;
width: 96%;
	height: 50px;
}
